<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %> of story<br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %> of story<br>
    <%= f.text_area :description %>
  </div>


color of cover
color of font
font style

front cover: illustration title, author(s)

spine: title, author(s)

back cover: description
introduce main character
give short summar of contents and plot
ask unanswered question without giving away the story ("will mary find out who the mysterious visitor is?")
be persuasive and encourage interest

back flap
about the author
review from newspaper

front flap
quote sentence by main character
something about the main character
setting
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
