<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="info">
Fill in the title and description of the story.  These can be edited later.
</div>
  <div class="view">
    <%= f.label :title %> of story<br>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :description %> of story<br>
    <%= f.text_area :description %>
    Give a short summary of the contents and plot.
    Ask unanswered questions without giving away the story ("Will Mary find out who the mysterious visitor is?").
    Be persuasive and encourage interest.
    Discuss or quote the main character.
    Describe the setting.
  </div>

<div id="info">
You can write a story by yourself, or you can collaborate with ONE other writer.
<br>
This CANNOT be changed.

If you choose to collaborate with someone, pick one writer from the following list:

</div>



  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
