<br>
<br>
<br>
<br>
<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="info">
    Directions: Change the title and description of the story.  These can still be edited later.
</div>
<br>
<br>
<div class="view">
  <%= f.label :title %> of story<br>
  <%= f.text_area :title %>
</div>
<br>
<br>

Title Tips:
A title can entice a reader to take a closer look at a story.<br><br>
A title should be interesting, convey the tone or central idea of the story, and be easy to remember.<br><br>
A title can include a word or phrase that runs through the story or has a hidden meaning revealed in the story.<br><br>
A title can include the name of a character or place important to the plot.<br><br>
A title can be a play on words or a popular expression related to the story's subject.<br><br>
A title is commonly three words long, but can be one word.<br><br>
Titles with more than six words are uncommon.<br><br>

<br><br>

<div class="field">
  <%= f.label :description %> of story<br>
  <%= f.text_area :description %>
</div>

<br><br>

Description Tips:<br><br>

Give a short summary of the contents and plot.<br><br>
Ask unanswered questions without giving away the story ("Will Mary find out who the mysterious visitor is?").<br><br>
Be persuasive and encourage interest.<br><br>
Discuss or quote the main character.<br><br>
Describe the setting.<br><br>


<% if true %>
You are writing this story by yourself.
<% else %>
You are writing this story with
<% end %>

</div>

<br>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
