<br>
<br>
<br>
<br>
<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Directions: Change the title and description of the story.  These can still be edited later.
<br>
<br>
<div class="view">
  <%= f.label :title %> of story<br>
  <%= f.text_area :title %>
</div>
<br>
<br>
Title Tips:<br>
<br>
1.  A title can entice a reader to take a closer look at a story.<br>
<br>
2.  A title should be interesting, convey the tone or central idea of the story, and be easy to remember.<br>
<br>
3.  A title can include a word or phrase that runs through the story or has a hidden meaning revealed in the story.<br>
<br>
4.  A title can include the name of a character or place important to the plot.<br>
<br>
5.  A title can be a play on words or a popular expression related to the story's subject.<br>
<br>
6.  A title is commonly three words long, but can be one word.<br>
<br>
7.  Titles with more than six words are uncommon.<br>
<br>
<br>
<br>
<div class="field">
  <%= f.label :description %> of story<br>
  <%= f.text_area :description %><br>
</div>
<br>
<br>
Description Tips:<br>
<br>
1.  Give a short summary of the contents and plot.<br>
<br>
2.  Ask unanswered questions without giving away the story ("Will Mary find out who the mysterious visitor is?").<br>
<br>
3.  Be persuasive and encourage interest.<br>
<br>
4.  Discuss or quote the main character.<br>
<br>
5.  Describe the setting.<br>
<br>
<br>
You can write a story by yourself, or you can collaborate with ONE other writer.<br>
<br>
This CANNOT be changed.<br>
<br>
If you choose to collaborate with someone, pick your co-writers from the following list:<br>
<br>
<div class="multiselect">
  <% @user.each do |user| %>
    <% if current_user.id != user.id %>
      <label><input name="collaborator_ids[]" type="checkbox" value="<%= user.id %>" />  <%= user.name %></label>
    <% end %>
  <% end %>
</div>
<br>
<br>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<br><br><br>
