<br>
<br>
<br>
<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user.name %>
</p>

<% if false %>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
<% end %>

<%= link_to 'Go back to story index', '/' %>
